version: '3.1'
services:
  enphaseCollector:
    image: "dlmcpaul/enphasecollector:latest"
    hostname: enphase
    container_name: enphaseCollector
    depends_on:
      - db
    ports:
      - "8080:8080"
    env_file:
      - ./compose.env
    environment:
      SPRING_PROFILES_ACTIVE: influxdb
      TZ: Australia/Sydney
      ENVOY_INFLUXDBRESOURCE_HOST: db
      ENVOY_INFLUXDBRESOURCE_PORT: 8086
      ENVOY_CONTROLLER_PASSWORD:
  db:
    image: "influxdb:latest"
    hostname: influx
    container_name: enphaseCollectorDB
    expose:
      - "8086"
    ports:
      - "8086:8086"