article.solarmessage {
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #E6EAEE;
}

article.solarmessage:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.footer li {
    margin: .4rem 1rem;
}

.flex-text {
    font-size: calc( 1.00rem + 0.4vw - 9.5px );
    vertical-align: middle;
}