<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">

<body>
    <div th:fragment="billQnA" id="bill-data">
        <!--/*@thymesVar id="bill_question" type="com.hz.controllers.models.BillQuestion"*/-->
        <form method="post" th:action="@{/bill}" th:object="${bill_question}" id="bill-answer-form"
              onsubmit="return getAnswers('bill-answer')">
            <div class="columns is-gapless">
                <div data-th-replace="~{qnaFieldFragment :: dateField('dateRange.fromDate', *{dateRange.getFromDate()},'From')}"/>
                <div data-th-replace="~{qnaFieldFragment :: dateField('dateRange.toDate', *{dateRange.getToDate()},'To')}"/>
                <div class="column"></div>
            </div>
            <div class="separator">Compare With</div></br>
            <div class="columns is-gapless">
                <div data-th-replace="~{qnaFieldFragment :: numberField('dailySupplyCharge', *{dailySupplyCharge},'Daily Charge')}"/>
                <div data-th-replace="~{qnaFieldFragment :: numberField('chargePerKiloWatt', *{chargePerKiloWatt},'Charge Per Kilowatt')}"/>
                <div data-th-replace="~{qnaFieldFragment :: numberField('paymentPerKiloWatt', *{paymentPerKiloWatt},'Payment Per Kilowatt')}"/>
            </div>
            <div class="columns is-centered is-gapless">
                <div class="column is-one-fifth">
                    <button id="bill-answer-button" type="submit" class="button is-primary is-fullwidth">Answer</button>
                </div>
            </div>
        </form>
        <hr>
        <div data-th-replace="~{billAnswerFragment :: billAnswer (false)}"/>
    </div>
</body>

</html>