<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">

<body>
<div th:fragment="billAnswer (visible)" th:id="bill-answer-data" th:class="${visible} ? '' : 'is-hidden'" role="main">
    <!--/*@thymesVar id="bill_answer" type="com.hz.controllers.models.BillAnswer"*/-->
    <div th:object="${bill_answer}">
        <h3 class="subtitle">Usage</h3>
        <div data-th-replace="~{qnaFieldFragment :: usageBox (*{usage}, *{showTotalDays()})}"/>
        <h3 class="subtitle">Current Energy Provider</h3>
        <div data-th-replace="~{qnaFieldFragment :: estimateBox (*{billEstimate})}"/>
        <h3 class="subtitle">Comparison Energy Provider</h3>
        <div data-th-replace="~{qnaFieldFragment :: estimateBox (*{comparisonEstimate})}"/>
    </div>
</div>
</body>

</html>