<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Enphase Solar System</title>
    <link rel="stylesheet" data-th-href="@{/webjars/bulma/0.7.4/css/bulma.css}"/>
    <link rel="stylesheet" data-th-href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" data-th-href="@{/css/default.css}"/>
    <script type="text/javascript" data-th-src="@{/webjars/highcharts/7.0.3/highcharts.js}"></script>
    <script type="text/javascript" data-th-src="@{/webjars/highcharts/7.0.3/highcharts-more.js}"></script>
</head>
<body class="has-background-light">
<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Enphase Collector
            </h1>
            <h2 class="subtitle">
                <i class="fa fa-copyright"></i> David McPaul 2018
            </h2>
        </div>
    </div>
</section>
<section class="section has-background-white">
    <div class="container">
        <div class="columns">
            <div class="column is-8">
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <div id="consumption" class="image"></div>
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64">
                                        <img data-th-src="@{power.gif}" src="" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">Consumption</p>
                                    <p id="consumption_label" class="subtitle is-6"
                                       data-th-text="${consumption} + ' W'"></p>
                                </div>
                            </article>
                        </div>
                        <div class="tile is-child">
                            <div id="production" class="image"></div>
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64">
                                        <img data-th-src="@{sun.jpeg}" src="" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">Production</p>
                                    <p id="production_label" class="subtitle is-6"
                                       data-th-text="${production} + ' W'"></p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div data-th-replace="~{statsFragment :: statusPanel}"></div>
        </div>
        <div class="columns">
            <div class="column">
                <div id="pvc" class="image"></div>
            </div>
        </div>
    </div>
</section>
<footer class="footer has-background-white">
    <div class="content has-text-centered">
        <p>Rendered by <strong>Thymeleaf</strong> at <span
                data-th-text="${#calendars.format(#execInfo.now, 'dd-MMM-yyyy HH:mm')}"></span><br>
            Envoy Software Version: <span data-th-text="${software_version}">version</span><br>
            Envoy Serial Number: <span data-th-text="${serial_number}">serial</span><br></p>
    </div>
</footer>
<script type="text/javascript" data-th-src="@{/js/chart.js}"></script>
<script data-th-inline="javascript">
    var consumptionProperties = {
        chart: {
            renderTo: 'consumption',
            type: 'gauge',
            height: '100%'
        },
        title: {
            text: null
        },
        credits: {
            enabled: false
        },
        pane: {
            startAngle: -150,
            endAngle: 150,
            background: [{
                backgroundColor: {
                    linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                    stops: [
                        [0, '#FFF'],
                        [1, '#333']
                    ]
                },
                borderWidth: 0,
                outerRadius: '109%'
            }, {
                backgroundColor: {
                    linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                    stops: [
                        [0, '#333'],
                        [1, '#FFF']
                    ]
                },
                borderWidth: 1,
                outerRadius: '107%'
            }, {
                // default background
            }, {
                backgroundColor: '#DDD',
                borderWidth: 0,
                outerRadius: '105%',
                innerRadius: '103%'
            }]
        },
        yAxis: {
            min: 0,
            max: 6000,

            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 10,
            minorTickPosition: 'inside',
            minorTickColor: '#666',

            tickPixelInterval: 30,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            labels: {
                step: 2,
                rotation: 'auto'
            },
            title: {
                text: 'W'
            },
            plotBands: [{
                from: 0,
                to: 1500,
                color: '#55BF3B' // green
            }, {
                from: 1500,
                to: 3000,
                color: '#DDDF0D' // yellow
            }, {
                from: 3000,
                to: 6000,
                color: '#DF5353' // red
            }]
        },
        series: [{
            name: 'consumption',
            data: [0],
            tooltip: {
                valueSuffix: ' W'
            }
        }]
    };

    var productionProperties = {
        chart: {
            renderTo: 'production',
            type: 'gauge',
            height: '100%'
        },
        credits: {
            enabled: false
        },
        title: {
            text: null
        },
        pane: {
            startAngle: -150,
            endAngle: 150,
            background: [{
                backgroundColor: {
                    linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                    stops: [
                        [0, '#FFF'],
                        [1, '#333']
                    ]
                },
                borderWidth: 0,
                outerRadius: '109%'
            }, {
                backgroundColor: {
                    linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                    stops: [
                        [0, '#333'],
                        [1, '#FFF']
                    ]
                },
                borderWidth: 1,
                outerRadius: '107%'
            }, {
                // default background
            }, {
                backgroundColor: '#DDD',
                borderWidth: 0,
                outerRadius: '105%',
                innerRadius: '103%'
            }]
        },
        yAxis: {
            min: 0,
            max: 5000,

            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 10,
            minorTickPosition: 'inside',
            minorTickColor: '#666',

            tickPixelInterval: 30,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            labels: {
                step: 2,
                rotation: 'auto'
            },
            title: {
                text: 'W'
            },
            plotBands: [{
                from: 0,
                to: 1000,
                color: '#DF5353' // red
            }, {
                from: 1000,
                to: 2000,
                color: '#DDDF0D' // yellow
            }, {
                from: 2000,
                to: 5000,
                color: '#55BF3B' // green
            }]
        },
        series: [{
            name: 'production',
            data: [0],
            tooltip: {
                valueSuffix: ' W'
            }
        }]
    };

    var now = new Date();

    //Disable use of UTC
    Highcharts.setOptions({
        global: {
            useUTC: false
        }
    });

    var pvcProperties = {
        chart: {
            renderTo: 'pvc',
            type: 'line',
            height: '25%'
        },
        credits: {
            enabled: false
        },
        title: {
            text: 'Production vs Consumption'
        },
        xAxis: {
            title: {
                text: 'Today'
            },
            type: 'datetime', //For time series, x-axis labels will be time
            labels: {
                //You can format the label according to your need
                format: '{value:%H}'
            },
            minPadding: 0.05,
            maxPadding: 0.05
        },
        yAxis: {
            labels: {
                format: '{value}W',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            title: {
                text: 'Watts'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            x: 120,
            verticalAlign: 'top',
            y: 50,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || 'rgba(255,255,255,0.25)'
        },
        series: [
            {
                name: 'production',
                data: [ [now.getTime(), 0] ]
            },
            {
                name: 'consumption',
                data: [ [now.getTime(), 0] ]
            }]
    };

    makeChart("production", productionProperties, [[${#httpServletRequest.contextPath}]] + '/production', [[${refresh_interval}]]);
    makeChart("consumption", consumptionProperties, [[${#httpServletRequest.contextPath}]] + '/consumption', [[${refresh_interval}]]);
    makePvcChart("pvc", pvcProperties, [[${#httpServletRequest.contextPath}]] + '/pvc', [[${refresh_interval}]]);
    makeStats("statusPanel",[[${#httpServletRequest.contextPath}]] + '/refreshStats',[[${refresh_interval}]])
</script>
</body>
</html>