<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Enphase Solar System Visualiser">
    <title>Enphase Solar System Visualiser</title>
    <link rel="stylesheet" data-th-href="@{/webjars/bulma/0.7.5/css/bulma.min.css}"/>
    <link rel="stylesheet" data-th-href="@{/webjars/font-awesome/5.8.1/css/all.css}"/>
    <link rel="stylesheet" data-th-href="@{/css/default.css}" defer/>
    <link rel="apple-touch-icon" data-th-href="@{sun.jpeg}">
</head>
<body class="has-background-light">
<section class="hero is-info is-bold" role="banner">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Enphase Solar System Visualiser
            </h1>
            <h2 class="subtitle">
                <i class="fas fa-copyright"></i> David McPaul 2018
            </h2>
        </div>
    </div>
</section>
<section class="section is-paddingless has-background-white">
    <div class="container">
        <nav class="tabs is-centered" id="tabs" role="navigation">
            <ul>
                <li id="live" class="is-active"><a data-th-onClick="switchToTab('live', null)">Live</a></li>
                <li id="weekly"><a data-th-onClick="switchToTab('weekly', [[${#httpServletRequest.contextPath}]] + '/history?duration=7Days')">Week</a></li>
                <li id="monthly"><a data-th-onClick="switchToTab('monthly', [[${#httpServletRequest.contextPath}]] + '/history?duration=1Months')">Month</a></li>
                <li id="quarterly"><a data-th-onClick="switchToTab('quarterly', [[${#httpServletRequest.contextPath}]] + '/history?duration=3Months')">Quarter</a></li>
            </ul>
        </nav>
        <div id="live-data" role="main">
            <div class="columns is-multiline is-centered">
                <div data-th-replace="~{gaugeChartFragment :: gaugeChart('consumption',@{power.png},'Consumption',${consumption})}"></div>
                <div data-th-replace="~{gaugeChartFragment :: gaugeChart('production',@{sun.jpeg},'Production',${production})}"></div>
                <div data-th-replace="~{statusListFragment :: statusList}"></div>
            </div>
            <div class="columns">
                <div class="column is-12 is-narrow">
                    <div id="pvc"></div>
                </div>
            </div>
        </div>
        <div data-th-replace="~{historyChartFragment :: historyChart('weekly')}"></div>
        <div data-th-replace="~{historyChartFragment :: historyChart('monthly')}"></div>
        <div data-th-replace="~{historyChartFragment :: historyChart('quarterly')}"></div>
    </div>
</section>
<footer class="footer is-paddingless has-background-white" role="contentinfo">
    <div class="container">
        <div class="tabs is-centered">
            <ul>
                <li class="has-text-weight-semibold">About</li>
            </ul>
        </div>
        <div class="columns">
            <div class="column centre">
                <ul>
                    <li class="is-size-6">Rendered by <strong>Thymeleaf</strong> at <span data-th-text="${#calendars.format(#execInfo.now, 'dd-MMM-yyyy HH:mm')}"></span></li>
                    <li class="is-size-6">Envoy Software Version: <span data-th-text="${software_version}">version</span></li>
                    <li class="is-size-6">Envoy Serial Number: <span data-th-text="${serial_number}">serial</span></li>
                    <li><br></li>
                    <li class="is-size-6"><a href="https://bulma.io"><img data-th-src="@{made-with-bulma.png}" alt="Made with Bulma" width="128" height="24"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" data-th-src="@{/webjars/highcharts/7.1.0/highstock.js}"></script>
<script type="text/javascript" data-th-src="@{/webjars/highcharts/7.1.0/highcharts-more.js}"></script>
<script type="text/javascript" data-th-src="@{/js/initialize.js}"></script>
<script type="text/javascript" data-th-src="@{/js/charts.js}"></script>
<script type="text/javascript" data-th-src="@{/js/tabs.js}"></script>
<script data-th-inline="javascript">
    initHighCharts();
    initLiveCharts([[${#httpServletRequest.contextPath}]], [[${refresh_interval}]]);
    initHistoryCharts();
</script>
</body>
</html>