<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">

<body>
<div th:fragment="qna (visible)" th:id="qna-data" th:class="${visible} ? '' : 'is-hidden'" role="main">
    <div class="columns">
        <h2 class="column title has-text-centered">Questions and Answers</h2>
    </div>
    <!--/*@thymesVar id="question" type="com.hz.controllers.models.Question"*/-->
    <form method="post" th:action="@{/answers}" th:object="${question}" id="qna-form"
          onsubmit="return getAnswers('qna')">
        <div class="columns is-gapless">
            <div data-th-replace="~{qnaFieldFragment :: dateField('fromDate', *{fromDate},'From')}"/>
            <div data-th-replace="~{qnaFieldFragment :: dateField('toDate', *{toDate},'To')}"/>
            <div class="column"></div>
        </div>
        <div class="separator">Compare With</div></br>
        <div class="columns is-gapless">
            <div data-th-replace="~{qnaFieldFragment :: numberField('dailySupplyCharge', *{dailySupplyCharge},'Daily Charge')}"/>
            <div data-th-replace="~{qnaFieldFragment :: numberField('chargePerKiloWatt', *{chargePerKiloWatt},'Charge Per Kilowatt')}"/>
            <div data-th-replace="~{qnaFieldFragment :: numberField('paymentPerKiloWatt', *{paymentPerKiloWatt},'Payment Per Kilowatt')}"/>
        </div>
        <div class="columns is-centered is-gapless">
            <div class="column is-one-fifth">
                <button type="submit" class="button is-primary is-fullwidth">Answer</button>
            </div>
        </div>
        <hr>
        <h3 class="subtitle">Current</h3>
        <div class="box">
            <nav class="level">
                <div data-th-replace="~{qnaFieldFragment :: moneyLevelItem('Estimated Bill', *{billEstimate.getEstimatedBill()})}"/>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title">=</p>
                    </div>
                </div>
                <div data-th-replace="~{qnaFieldFragment :: moneyLevelItem('Import', *{billEstimate.getTotalImportCost()})}"/>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title">-</p>
                    </div>
                </div>
                <div data-th-replace="~{qnaFieldFragment :: moneyLevelItem('Earnings', *{billEstimate.exportEarnings})}"/>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title"> </p>
                    </div>
                </div>
                <div data-th-replace="~{qnaFieldFragment :: moneyLevelItem('Payback', *{billEstimate.getTotalPayback()})}"/>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title">=</p>
                    </div>
                </div>
                <div data-th-replace="~{qnaFieldFragment :: moneyLevelItem('Savings', *{billEstimate.importSavings})}"/>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title">+</p>
                    </div>
                </div>
                <div data-th-replace="~{qnaFieldFragment :: moneyLevelItem('Earnings', *{billEstimate.exportEarnings})}"/>
                <div data-th-replace="~{qnaFieldFragment :: levelItem('Days', *{showTotalDays()})}"/>
            </nav>
        </div>
        <h3 class="subtitle">Comparison</h3>
        <div class="box">
            <nav class="level">
                <div data-th-replace="~{qnaFieldFragment :: moneyLevelItem('Estimated Bill', *{comparisonEstimate.getEstimatedBill()})}"/>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title">=</p>
                    </div>
                </div>
                <div data-th-replace="~{qnaFieldFragment :: moneyLevelItem('Import', *{comparisonEstimate.getTotalImportCost()})}"/>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title">-</p>
                    </div>
                </div>
                <div data-th-replace="~{qnaFieldFragment :: moneyLevelItem('Earnings', *{comparisonEstimate.exportEarnings})}"/>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title"> </p>
                    </div>
                </div>
                <div data-th-replace="~{qnaFieldFragment :: moneyLevelItem('Payback', *{comparisonEstimate.getTotalPayback()})}"/>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title">=</p>
                    </div>
                </div>
                <div data-th-replace="~{qnaFieldFragment :: moneyLevelItem('Savings', *{comparisonEstimate.importSavings})}"/>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title">+</p>
                    </div>
                </div>
                <div data-th-replace="~{qnaFieldFragment :: moneyLevelItem('Earnings', *{comparisonEstimate.exportEarnings})}"/>
                <div data-th-replace="~{qnaFieldFragment :: levelItem('Days', *{showTotalDays()})}"/>
            </nav>
        </div>
    </form>
    <br/>
</div>
</body>

</html>