<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<!--/*@thymesVar id="image" type="java.lang.String"*/-->
<!--/*@thymesVar id="text" type="java.lang.String"*/-->
<!--/*@thymesVar id="value" type="java.lang.String"*/-->
<tr th:fragment="status (image, text, value)" class="status-row">
    <td>
        <nav class="level is-mobile">
        <div class="level-left">
            <p class="level-item icon flex-text"><i th:class="${image}" aria-hidden="true"></i></p>
            <p class="level-item flex-text" th:text="${text}"/>
        </div>
        <div class="level-right">
            <p class="level-item has-text-right has-text-black has-text-weight-bold flex-text" th:text="${value}" style="white-space: nowrap">0</p>
        </div>
        </nav>
    </td>
</tr>
</body>
</html>